* {
    font-family: 'Sofia Sans';
}

body {
    font-family: 'Sofia Sans'; 
    background: none; 
    display: flex; 
    width: fit-content; 
    height: fit-content; 
    max-height: 85px; 
    border: none;
    overflow-y: hidden;
}

img.large {
    width: 75px;
    /* max-height: 85px; */
}

div.main {
    justify-content: center; 
    align-items: center;
    display: flex;
    overflow-y: hidden;
}

section {
    border: 0 solid black; 
    width: max-content; 
    border-radius: 10px; 
    overflow: hidden; 
    background-color: white; 
    color: white;
    margin: 0 5px;
}

p {
    padding: 1px 10px; 
    margin: 5px; 
    font-size: 8pt; 
    font-weight: bold; 
    text-align: center; 
    border-radius: 5px; 
    color: black; 
    border: 0 solid black;
}

section div {
    border: 0 solid red; 
    display: flex; 
    height: 25px; 
    justify-content: center; 
    align-items: center; 
    overflow-y: hidden; 
    background-color: black; 
    width: auto; 
    margin: 5px; 
    padding: auto;
    border-radius: 5px; 
}

div img {
    width: 75px; 
    height: 150px;
}

h4 {
    font-weight: bold; 
    font-size: medium; 
    padding: 10px; 
    min-width: 35px; 
    text-align: center;
}

h3 {
    font-weight: 900; 
    font-size: large; 
    padding: 10px; 
    text-align: center; 
    width: 20px;
}

h3.liveScore {
    display: none;
    /* visibility: hidden; */
}

hr {
    margin: 5px; 
    border: none;
    border-radius: 5px;
    width: 3px;
    background-color: #ccc;
}